body,
#app {
  font-family: 'Raleway', sans-serif;
}


aside.styler ul.font-families li.open,
#app .body {
  font-family: 'Overpass Mono', sans-serif;
  clear:  both;
}
/*
Raleway|Bubbler+One|Handlee|Open+Sans|Overpass+Mono|Swanky+and+Moo+Moo
*/

aside.styler ul.font-families li.swanky,
#app.font-swanky .body {
  font-family: 'Swanky and Moo Moo', sans-serif;
  clear:  both;
}

aside.styler ul.font-families li.handlee,
#app.font-handlee .body {
  font-family: 'Handlee', sans-serif;
  clear:  both;
}


aside.styler ul.font-families li.bubbler,
#app.font-bubbler .body {
  font-family: 'Bubbler One', sans-serif;
  clear:  both;
}

#app .blogs > article {
  padding: 1em 0;
  margin: 1em 0;
  text-align: left;
  border-bottom:  dashed 1px #cccccc;
}

#app .blogs > article ul.tags {
  margin: 0.25em 0;
  padding: 0.25em 0;
  border-top:  dashed 1px #cccccc;
  display: inline-block;
  clear:  both;
}

#app article > time,
#app article > h3.title {
  margin: 0 0 0.5em 0;
}
#app article > h3.title {
  float:  left;
  padding: 0;
}

#app article > time {
  float:  right;
  padding: 0 0 0 3em;
}

#app .home-pane > section.listing,
#app .home-pane > article {
  max-width: 80em;
  margin: 0 auto;
  padding:  0 5%;
}

#app .home-pane > article,
#app .detail-pane > article,
#app .body {
  text-align: left;
}

a {
  text-decoration: none;
  color: #000099;
}

a:hover {
  text-decoration: underline;
}

html {
  font-size: 16px;
}

aside.styler ul.text-sizes li.small,
#app.text-small {
  font-size: 87.5%;
}

aside.styler ul.text-sizes li.medium,
#app.text-medium {
  font-size: 100%;
}

aside.styler ul.text-sizes li.large,
#app.text-large {
  font-size: 112.5%;
}

aside.styler ul.text-sizes li.xlarge,
#app.text-xlarge {
  font-size: 125%;
}

body {
  background-color: white;
  color: #666666;
}

#app.scheme-dark,
aside.styler ul.schemes li.dark,
#app.scheme-dark .top-header {
  background-color: #333333;
}

aside.styler ul.schemes li.dark,
#app.scheme-dark {
  color: #cccccc;
}

#app.scheme-green .tags li,
#app.scheme-dark .tags li {
  filter: brightness(800%) grayscale(75%);
}

#app.scheme-dark nav.main-nav {
  background-color: rgba(51,51,51,0.8);
}

#app.scheme-dark a {
  color: #9999ff;
}

#toggle-styler {
  position: absolute;
  right:  2.5%;
  top: 1em;
}

#app aside.styler {
  position: fixed;
  right:  2.5%;
  top: 4em;
  max-width: 10em;
  z-index:  -1;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  background-color: white;
}

#app.show-styler aside.styler {
  opacity: 1;
  z-index:  102;
  padding: 0.5em 1em;
}

#app.scheme-green,
aside.styler ul.schemes li.green,
#app.scheme-green .top-header {
  background-color: #003300;
}

#app.scheme-green a {
  color: #ff9999;
}

#app.scheme-green nav.main-nav {
  background-color: rgba(0,68,0,0.8);
}

aside.styler ul.schemes li.green,
#app.scheme-green {
  color: #ffff33;
}


body {
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
}

#app p,
#app nav ul.menu li,
#app ul,
#app li,
#app ol,
#app figure {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: 0;
}

#app .body li {
  -webkit-margin-start: 1em;
}

header.top-header {
}

section#ecwid-store-container,
header.top-header > .inner,
#app {
  position: relative;
  margin: 0 auto;
  max-width: 1920px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  z-index: 1;
  overflow-x: hidden;
}


.plain,
.plain > li,
.dot-nav > li,
.arrow-nav > li,
.flex-slides > li {
  list-style: none;
  outline: none;
}

#app ul.inline > li {
  display: inline-block;
  margin: 0 1em 0 0;
}

nav.tags li {
  font-size:  1.25em;
}

.dot-nav > li,
.arrow-nav {

}


.plain,
.plain > li {
  padding: 0;
  margin: 0;
}

.flex-slides li figure {
  position: relative;
}

.flex-slides li figcaption {
  position: absolute;
  bottom: 15%;
  left: 0;
  right: 0;
  padding: 0.75em 5%;
  z-index: 8;
}

#app footer {
  padding: 2em 0;
}

#loading-overlay .bg,
#loading-overlay {
  top:  0;
  left:  0;
  bottom: 0;
  width:  100vw;
}

#loading-overlay {
  position: fixed;
  overflow: hidden;
  display: flex;
  flex-flow: nowrap row;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #004400;
  opacity: 0;
  z-index: 100;
  pointer-events: none;
  transition: opacity 1.5s ease-in-out;
  animation: loading-bg 3s 1;
}

#loading-overlay .bg {
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size:  cover;
}

#loading-overlay .bg-1 {
  background-image: url(/static/images/abstract-waves-2.svg);
  animation: loading-1 15s 1;
}

#loading-overlay .bg-2 {
  background-image: url(/static/images/abstract-waves-b.svg);
  animation: loading-2 15s 1;
  transform: scale(1) translate(0, 15%);
}


.content-loaded #loading-overlay {
  z-index: -1;
  display: none;
}

.content-loaded #loading-overlay .bg {
  background-image: none;
}

@keyframes loading-1 {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.2, 1.25) rotate(20deg);
  }
  0% {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes loading-2 {
  0% {
    transform: scale(1) translate(0, 15%);
  }
  50% {
    transform: scale(1.25) translate(0, 45%);
  }
  0% {
    transform: scale(1) translate(0, 15%);
  }
}

@keyframes loading-bg {
  0% {
    background-color: #333333;
  }
  100% {
    background-color: #004400;
  }
}

.show-loading #loading-overlay {
  opacity: 1;
  z-index: 100;
}

.show-loading #loading-overlay > svg {
  transform: scale(1);
}

#loading-overlay > svg {
  width: 50vw;
  max-height: 80vh;
  z-index: 101;
  transform: scale(0.5);
  transition: transform 1.5s ease-in-out;
}

#loading-overlay > header.top-header,
#app > header.top-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2.5em;
  z-index: 40;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

#loading-overlay > .top-header > .inner,
#app > .top-header > .inner {
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
  justify-content: center;
}

.main-logo {
  position: relative;
  margin-top: -.125em;
  height: 2.4em;
  width: 66.667%;
  transform: scale(1, 1);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  z-index: 100;
}

.main-logo:before {
  position: absolute;
  bottom:  5%;
  left:  0;
  right:  0;
  text-align: center;
  font-size: 5vw;
}

.front #loading-overlay .logo,
.scrolled-up .main-logo {
  transform: scale(1, 1);
  margin-top: 0;
}

.show-store #app.show-menu {
  z-index: 30;
}

.main-logo:hover {
  transform: scale(1.2, 0.9);
}

.top-icon {
  position: absolute;
  top: 0.25em;
  transition: all .5s ease-in-out;
  z-index: 30;
  cursor: pointer;
}

.top-icon:before {
  font-size: 1.667rem;
}

.menu-toggle {
  left: 2.5%;
}

.main-nav .menu-toggle {
  left: 2.5vw;
  transform: scale(0.8);
}

.top-header .menu-toggle {
  margin-top: 0em;
}

.scrolled-up .top-header .menu-toggle { 
   margin-top: 0.5em;
}

.show-menu .top-header .menu-toggle {
  opacity: 0;
}

.main-nav .menu-toggle.icon-menu:before {
  content: "\e903";
}

.menu-toggle:hover {
  transform: skew(-20deg);
}

#app nav ul.menu,
#app nav ul.menu li {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

#app nav ul.menu {
  position: relative;
  top: 2em;
  padding: 0.5em 0 2em 0;
  left: 0;
  overflow: hidden;
}

/*#app.show-menu .top-header .bg-menu {
  background-color: white;
  opacity: 1;
}*/

/*#app.show-menu .top-header .bg-solid,
#app.show-menu .top-header .bg-transition {
  opacity: 0;
}*/

nav ul.menu > li {
  line-height: 1em;
}

body.show-store .back-to {
  opacity: 0.6667;
  pointer-events: all;
  cursor: pointer;
  z-index: 100;
}

body.show-store #app .show-cart {
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

#app .main {
  transition: opacity 0.5s ease-in-out, margin-top 0.5s ease-in-out;
  margin-top: 0;
}
#app .home-pane,
#app .detail-pane {
  transition: opacity 0.5s ease-in-out;
}

#app .detail-pane {
  padding: .5em 2.5%;
  background-color: white;
}

#app.show-home .home-pane,
#app.show-detail .detail-pane {
  position: relative;
  pointer-events: all;
  z-index: 2;
  opacity: 1;
}

#app.show-home .home-pane {
  margin-top: 1em;
}

#app.show-home .detail-pane,
#app.show-detail .home-pane {
  position: absolute;
  top:  0;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  height: 0;
  max-height: 0;
  overflow: hidden;
}

nav.main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100%;
  left: -100%;
  bottom: 0;
  background-color: rgba(255,255,255,0.8);
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  transition: left 1s ease-in-out;
}

.show-menu nav.main-nav {
  left: 0;
  opacity: 1;
  pointer-events: all;
  z-index: 50;
}

#app .home-pane > section.listing > nav li {
  display: inline-block;
  padding-left:  1.5em;
}

.show-detail.show-menu nav.main-nav {
  border-right: solid 1px rgba(0,0,0,0.25);
}

#app nav ul.menu > li a {
  width: 95%;
  display: block;
  padding: 0.125em 2.5%;
}

#app .show-cart {
  right: 2.5%;
  width: 4em;
}

#app .show-cart:before {
  position: absolute;
  top: 0;
  right: 0;
  transform: scale(0.8);
}

#app .show-cart.has-items:hover {
  transform: skew(-10deg);
}

#app .show-cart .num {
  opacity: 0;
}

#app .micro-cart {
  opacity: 0;
  position: fixed;
  top: 1em;
  right: 2%;
  pointer-events: none;
  background-color: rgb(228,228,228);
  font-size: 0.75em;
  margin: 2em 0 1em 0;
  padding: 0.75em 0.5em 0.25em 0.5em;
  transition: opacity 0.5s ease-in-out;
  text-align: left;
  pointer-events: none;
}

#app.show-menu .micro-cart {
  background-color: white;
}

#app.show-microcart .micro-cart {
  pointer-events: all;
  opacity: 1;
  z-index: 101;
}

#app .micro-cart .subtotal {
  margin: 0.25em 0;
  padding: 0.25em 0.5em;
  border-top: dashed 1px black;
  text-align: right;
}

#app .micro-cart {
  width: 20em;
  max-width: 90%;  
}

#app .micro-cart .ordered-items {
  width: 100%;
}

#app .micro-cart .ordered-items li {
  white-space: nowrap;
}

#app .show-cart .num {
  position: absolute;
  right: 2.75em;
  top: 0.25em;
  display: block;
  font-size: 0.8em;
  padding: 0.125em;
}

#app footer .info {
  margin: 0.75em auto;
}

#app footer .admin {
  position: absolute;
  bottom: 2em;
  padding: 1em 2.5vw;
  right: 0;
}

#app footer .admin span.clear {
  display: inline-block;
  margin-right: 2em;
  width: 1em;
  height: 1em;
  opacity: 0;
  transform: rotate(-45deg);
  cursor: pointer;
}

#app footer .developed-by,
#app footer .admin a {
  opacity: 0;
  display: block;
  transition: opacity .5s ease-in-out, transform .5s ease-in-out .5s;
}

#app footer .admin a {
  transform: rotate(90deg);
}

#app footer .developed-by {
  transform: scale(-1, 1);
  margin-bottom: -.5em;
}

#app footer .admin:hover a {
  opacity: 1;
  transform: rotate(0deg);
}

#app footer:hover .admin .clear,
#app footer:hover .developed-by {
  opacity: 1;
}

#app footer:hover .developed-by {
  transform: scale(1, 1);
}

#app .show-cart.has-items {
  cursor: pointer;
  opacity: 1;
  z-index: 90;
}

#app .show-cart.has-items .num {
  opacity: 1;
}

#app .product-overlay .close {
  transition: top 0.5s ease-in-out;
}

@media screen and (min-height: 20em) {
  #app nav ul.menu > li a {
    padding: 0.25em 2.5%;
  }
}

@media screen and (min-height: 30em) {
  #app nav ul.menu > li a {
    padding: 0.375em 2.5%;
  }
}

@media screen and (min-height: 40em) {
  #app nav ul.menu > li a {
    padding: 0.5em 2.5%;
  }
}

@media screen and (min-width: 20em) {

  nav.main-nav {
    width: 12em;
    max-width: 100%;
    left: -12em;
  }

  #app nav.main-nav ul.menu {
    padding-left: 2.5vw;
    width: 95%;
  }

  #app nav.main-nav li {
    text-align: left;
  }

}

@media screen and (min-width: 30em) {

  .main-logo {
    height: 2em;
  }

  .scrolled-up .main-logo {
    height: 2.8em;
  }

}

@media screen and (min-width: 40em) {

  #loading-overlay > header.top-header,
  #app > header.top-header {
    height: 2.5em;
  }

  #app.scrolled-up header.top-header {
    height: 3.5em;
  }

  #app nav.main-nav {
    font-size: 1.2em;
  }

  section#ecwid-store-container {
    top: 6.5em;
  }

  .main-logo {
    height: 2.4em;
    margin-top: -.25em;
  }

  .scrolled-up .main-logo {
    height: 3.2em;
  }

  #app .show-cart {
    height: 1.667em;
  }
  #app .top-icon:before {
    font-size: 2rem;
  }

  #app .micro-cart {
    top: 1.25em;
  }

}

@media screen and (min-width: 50em) {

  #app nav.main-nav {
    font-size: 1.25em;
  }

  #app .show-cart {
    height: 1.8667em;
  }
  #app .top-icon:before {
    font-size: 2.25rem;
  }
  .main-logo {
    height: 2.8em;
  }

  .scrolled-up .main-logo {
    height: 3.6em;
  }
}

@media screen and (min-width: 60em) {

  .main-logo {
    width:  60%;
  }

  .main-logo:before {
    font-size:  4vw;
  }
  
  #app nav.main-nav {
    font-size: 1.333em;
  }

  .main-logo,
  #loading-overlay > header.top-header,
  #app > header.top-header {
    height: 2.5em;
  }

  .scrolled-up .main-logo,
  #app.scrolled-up header.top-header {
    height: 4em;
  }


  #app nav ul.menu {
    top: 2.5em;
  }

  #app .home-pane > section.listing {
     display: flex;
     flex-flow: nowrap row;
  }

  #app .home-pane > section.listing > section {
    text-align:  left;
    max-width: 73%;
    padding-left:  2%;
  }

  #app .home-pane > section.listing > nav {
    width: 21%;
    padding-right:  4%;
    margin-top:  1em;
    border-right: dashed 0.5em #cccccc;
  }

  #app .home-pane > section.listing > nav li {
    display: block;
  }

}

@media screen and (min-width: 70em) {

  .main-logo {
    width:  55%;
  }

  #app .body {
    font-size:  108%;
  }

}

@media screen and (min-width: 80em) {

  .main-logo {
    width:  50%;
  }

  #app .body {
    font-size:  120%;
  }


  #app nav.main-nav {
    font-size: 1.41em;
  }

  .main-logo,
  #loading-overlay > header.top-header,
  #app > header.top-header {
    height: 3em;
  }

  .scrolled-up .main-logo,
  #app.scrolled-up header.top-header {
    height: 4.5em;
  }

  #app nav ul.menu {
    top: 3em;
  }
  
  #app .show-cart .num {
    right: 3.75em;
  }

  #app .main-logo:before {
    font-size:  4em;
  }

}

@media screen and (min-width: 90em) {
   #app .show-cart {
    height: 3.333em;
  }
  #app .top-icon:before {
    font-size: 3rem;
  }
  .main-logo,
  #loading-overlay > header.top-header,
  #app > header.top-header {
    height: 3.5em;
  }

  .scrolled-up .main-logo,
  #app.scrolled-up header.top-header {
    height: 5em;
  }

  #app nav ul.menu {
    top: 3.5em;
  }

  #app nav.main-nav {
    font-size: 1.5em;
  }
}

